Chapter 27/Microsoft.Flow/flows/7c5b536e-a083-4c2b-876c-b559fba627a2/definition.json
{"name":"48f90b75-6878-4ef9-8d44-335f5392f5ca","id":"/providers/Microsoft.Flow/flows/48f90b75-6878-4ef9-8d44-335f5392f5ca","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Survey Collector","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"2029cc59-1b5f-4c67-a05b-1132c1f2b46e","type":"User","tenantId":"0aa5c83c-93f3-4f4d-a72f-7be9309196a6"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-10-30T03:39:25.5742003Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/microsoftforms"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('PMilCvOTTU-nL3vpMJGWplnMKSBfG2dMoFsRMsHytG5UODZEMlVLUFBLODZONDVEU1UxREpBT1ZKNi4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['value']","actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/microsoftforms"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('PMilCvOTTU-nL3vpMJGWplnMKSBfG2dMoFsRMsHytG5UODZEMlVLUFBLODZONDVEU1UxREpBT1ZKNi4u')}')/responses","queries":{"response_id":"@items('Apply_to_each')?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Add_rows_to_a_dataset":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddRows"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerbi']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/powerbi"}},"method":"post","body":{"Flavor":"@body('Get_response_details')?['r28fb6d469a2448438f9c9af5bce7604f']","Toppings":"@body('Get_response_details')?['r9933eb8709814bc1bcc7ad2162b1ca8f']","Location":"@body('Get_response_details')?['rec1340a4eac849178962f66f9cc4273c']"},"path":"/v1.0/myorg/groups/@{encodeURIComponent('260a78e5-4c7f-402c-bd4f-b2a20edae6da')}/datasets/@{encodeURIComponent('5db7b340-0c81-4b80-869a-5f5d8308af9f')}/tables/@{encodeURIComponent('RealTimeData')}/rows","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-c1b70eee-f776-456f-b790-126354ffa35f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_powerbi":{"connectionName":"shared-powerbi-0df679a3-6b04-4806-89df-a696b397c5af","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}